{#
/**
 * @file directory.html.twig
 * Default theme implementation to present Directory data.
 *
 * This template is used when viewing Directory pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_directory()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('directory') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
